.Contact {
  background-color: #33363d;
  min-height: 100vh;
}

.Contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.9375rem;
  width: 60%;
  margin: 0 auto;
}

.profileContainer {
  padding-top: 3.125rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.profile {
  border-radius: 50%;
  width: 18.75rem;
  height: 18.75rem;
}

.contactFormContainer {
  display: flex;
  justify-content: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  color: white;
}

.contactFormField {
  color: white;
  font-size: 1.5rem;
  text-align: left;
  padding-top: 1.25rem;
}

.icon {
  margin-right: 1.875rem;
  color: white;
}

@media only screen and (max-width: 600px) {
  .contactFormField {
    color: white;
    font-size: 1rem;
    text-align: left;
    padding-top: 1.25em;
  }
}
