h1 {
  font-size: 2rem;
  color: white;
}

.stackContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 0.0625rem solid white;
  border-top: 0.0625rem solid white;
}

.stackItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.125rem;
  width: 12.5rem;
  border-radius: 0.625rem;
  background-color: white;
  color: black;
  margin: 0.625rem;
}

p {
  padding-left: 0.9375rem;
}
